body {
    background: beige;
}
#header_box {
    background-color: lightcoral;
    margin: 0;
    padding:8px;
    padding-top: 8px;
    padding-left: 16px; 
    width:100%;
}

#player {
    padding-left:32px;
    padding-top: 0px;
    padding-bottom: 16px;
    background-color: lightcoral;
}
#track-list {
    padding-top: 32px;
    background-color:beige;
}
p {
    padding: 22px;
    font-family: Monaco, sans-serif;
    font-size: 18px;
    color: black;
}
#header_box h1{
    padding-top: 16px;
    
}
#content a{
    padding:22px;
}
#content h1 {
    padding:22px;
}
#content a:link {
    color: beige;
}
#stamp {
    color: beige;
}

a {
    color:black;
    font-family: Monaco, monospace;
}
h1 {

    font-family: Monaco, monospace;
    color:black;

}
a:link {
    
    padding: 22px;
    color: cyan;
    text-decoration: none;
}
a:visited {
    color: cyan;
    
    text-decoration:none;
}
